@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #f3ab3e;
  font-size: 4.5em;
  font-weight: 800;
}

section {
  width: 80%;
  padding: 5% 10%;
}

.score-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.recent-score,
.add-score {
  width: 30%;
  color: #f3ab3e;
  font-style: italic;
}

.recent-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh {
  transition: all 0.5s;
}

.refresh:focus {
  transform: rotate(90deg);
}

table {
  width: 100%;
  border-spacing: 0;
}

tbody {
  width: 100%;
  height: 220px;
  display: block;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(#e3dcca6b, #e3dcca6f);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(#f3ab3e, transparent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(transparent, #f3ab3e);
}

.show {
  width: 100%;
  color: #fff;
  height: auto;
  line-height: 30px;
  display: inline-block;
  padding-left: 3%;
}

.show:first-of-type {
  border: 1px solid #f3ab3e;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.show:nth-of-type(2) {
  border: 1px solid silver;
  position: relative;
}

.show:nth-of-type(3) {
  border: 1px solid #cd7f32;
  position: relative;
}

.show:first-of-type::after,
.show:nth-of-type(2)::after,
.show:nth-of-type(3)::after {
  content: '';
  width: 10%;
  height: 50%;
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  z-index: 3;
}

.show:first-of-type::after {
  background-image: url('./assets/img/gold-cup.png');
  top: 12.5px;
}

.show:nth-of-type(2)::after {
  width: 8%;
  height: 80%;
  background-image: url('./assets/img/silver-cup.png');
  right: 13px;
  top: 10px;
}

.show:nth-of-type(3)::after {
  width: 7%;
  height: 70%;
  background-image: url('./assets/img/bronze.png');
  right: 15px;
  top: 7.5px;
}

.show:hover {
  font-size: 20px;
  cursor: pointer;
}

td {
  padding: 2% 0;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.name-cont,
.score-cont {
  position: relative;
  margin-top: 1em;
}

label {
  color: gray;
  position: absolute;
  left: 2%;
  top: 15%;
  cursor: text;
}

input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #f3ab3e;
  font-size: 16px;
  padding: 2% 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  color: #f3ab3e;
  font-size: 13px;
  top: -50%;
  left: 0;
}

/* Firefox */
input[type='number'] {
  --moz-appearance: textfield;
}

.btn {
  text-align: right;
}

.submit-btn {
  color: #f3ab3e;
  box-shadow: 2px 2px 5px #000;
  border: none;
  background-color: transparent;
  padding: 1.5% 3%;
  justify-self: right;
  cursor: pointer;
}

.submit-btn:hover {
  font-size: 16px;
}

.msg {
  color: #5cc956;
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
  display: none;
}

.msg.empt {
  color: red;
}

.ani-cont {
  overflow: hidden;
  margin-top: 5%;
}

.winner {
  color: #f3ab3e;
  font-size: 1em;
  font-style: italic;
  transform: translate(100%);
  animation-name: text-ani;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes text-ani {
  from {
    transform: translate(-10%);
  }

  to {
    transform: translate(100%);
  }
}

@media (max-width: 1000px) {
  body {
    background: url('./assets/img/laptopsmBg.png');
    background-position: center;
  }

  .recent-score,
  .add-score {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  body {
    background: url('./assets/img/laptopsmBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  h1 {
    margin-bottom: 0;
  }

  .recent-score,
  .add-score {
    width: 40%;
  }
}

@media (max-width: 768px) {
  body {
    background: url('./assets/img/bigPhBg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 0;
  }

  section {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 20px;
  }

  .recent-score,
  .add-score {
    width: 100%;
  }

  .recent-score {
    grid-row: 2 / span1;
  }

  tbody {
    height: 150px;
  }
}

@media (max-width: 500px) {
  body {
    background: url('./assets/img/phBg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  h1 {
    font-size: 2.5em;
  }
}
